@model IEnumerable<CustomStudentMarks>

<style>
    .flex {
        display: flex;
    }

    .buttons div {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 30px;
    }

    button {
        height: 40px;
        width: 100%;
    }

    .content div {
        padding-top: 10px;
        padding-bottom: 5px;
    }
</style>

<div class="flex">
    <div class="buttons">
        <div>
            <button id="personal" class="btn btn-outline-dark">Personal</button>
        </div>
        <div>
            <button id="schedule" class="btn btn-outline-dark">Schedule</button>
        </div>
        <div>
            <button id="marks" class="btn btn-outline-dark">Marks</button>
        </div>
        <div>
            <button id="logout" class="btn btn-outline-dark">Logout</button>
        </div>
    </div>
    <div class="content">
        @foreach (var m in Model)
        {
            <div>
                @m.Subject:
                @foreach (var mm in m.Mark)
                {
                    <span>@mm  </span>
                }
            </div>
        }
    </div>
</div>

<script defer type="text/javascript">
    personal.onclick = function () {
        window.open('https://localhost:44389/Student/Personal', '_self');
    }

    schedule.onclick = function () {
        window.open('https://localhost:44389/Student/Schedule', '_self');
    }

    marks.onclick = function () {
        window.open('https://localhost:44389/Student/Marks', '_self');
    }

    logout.onclick = function () {
        window.open('https://localhost:44389/Account/Logout', '_self');
    }
</script>