@model Class

<style>
    .example-1 .form-group {
        padding: 1em;
        margin: 1em
    }

    .example-1 input[type=file] {
        outline: 0;
        opacity: 0;
        pointer-events: none;
        user-select: none
    }

    .example-1 .label {
        width: 150px;
        border: 2px dashed grey;
        border-radius: 5px;
        display: block;
        padding: 1.2em;
        transition: border 300ms ease;
        cursor: pointer;
        text-align: center
    }

    .example-1 .label i {
        display: block;
        font-size: 42px;
        padding-bottom: 16px
    }

    .example-1 .label i, .example-1 .label .title {
        color: grey;
        transition: 200ms color
    }

    .example-1 .label:hover {
        border: 2px solid #000
    }

    .example-1 .label:hover i, .example-1 .label:hover .title {
        color: #000
    }

    .flex {
        display: flex;
    }

    li {
        list-style-type: none;
        padding: 10px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #impdata {
        margin-left: 31px;
        width: 151px;
    }

    .or {
        padding-left: 20px;
        padding-top: 80px;
    }

    .attach {
        margin-top: -22px;
    }

    #submbtn {
        width: 100%;
        margin-top: 20px;
    }

    .form {
        margin-top: 25px;
    }
</style>

<div class="flex">
    <div class="form">
        <form asp-action="AddClassForm" asp-controller="Admin">
            <div class="flex">
                <div>
                    <ul>
                        <li>
                            <label asp-for="ClassName">Enter Class Name</label>
                        </li>
                        <li>
                            <label asp-for="NumberOfStudents">Enter Number Of Students</label>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            @Html.TextBoxFor(c => c.ClassName, new { autocomplete = "off" })
                        </li>
                        <li>
                            @Html.TextBoxFor(c => c.NumberOfStudents, new { autocomplete = "off" })
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <input id="submbtn" type="submit" value="Add Class" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
    <div class="or">
        <h3>Or</h3>
    </div>
    <div class="attach">
        <form asp-action="AddClassXml" asp-controller="Admin" enctype="multipart/form-data">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <div class="example-1">
                <div class="form-group">
                    <label class="label">
                        <i class="material-icons">attach_file</i>
                        <span class="title">Choose File</span>
                        <input type="file" name="file">
                    </label>
                </div>
            </div>
            <div>
                <input id="impdata" type="submit" value="Import Data" class="btn btn-outline-dark" />
            </div>
        </form>
    </div>
</div>