@model Subject

<style>
    .flex {
        display: flex;
    }

    li {
        list-style-type: none;
        padding: 10px;
        height: 50px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #submbtn {
        margin-left: 243px;
    }
</style>

<div>
    <form id="liform" asp-action="AddSubjectByForm" asp-controller="Admin">
        <div class="flex">
            <div>
                <ul>
                    <li>
                        <label asp-for="SubjectName">Enter Subject Name</label>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        @Html.TextBoxFor(s => s.SubjectName, new { autocomplete = "off" })
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <div class="text-danger">@Html.ValidationMessageFor(s => s.SubjectName)</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-danger">
            @ViewBag.ErrorMessage
        </div>
        <div>
            <input id="submbtn" type="button" value="Add Subject" class="btn btn-outline-dark" />
        </div>
    </form>
</div>

<script defer type="text/javascript">
    submbtn.onclick = function () {
        document.getElementById("liform").submit();
    }
</script>