@model CustomStudent
<style>
    .example-1 .form-group {
        padding: 1em;
        margin: 1em
    }

    .example-1 input[type=file] {
        outline: 0;
        opacity: 0;
        pointer-events: none;
        user-select: none
    }

    .example-1 .label {
        width: 150px;
        border: 2px dashed grey;
        border-radius: 5px;
        display: block;
        padding: 1.2em;
        transition: border 300ms ease;
        cursor: pointer;
        text-align: center
    }

    .example-1 .label i {
        display: block;
        font-size: 42px;
        padding-bottom: 16px
    }

    .example-1 .label i, .example-1 .label .title {
        color: grey;
        transition: 200ms color
    }

    .example-1 .label:hover {
        border: 2px solid #000
    }

    .example-1 .label:hover i, .example-1 .label:hover .title {
        color: #000
    }

    .flex {
        display: flex;
    }

    li {
        list-style-type: none;
        padding: 10px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #impdata {
        margin-left: 31px;
        width: 151px;
    }

    .or {
        padding-left: 20px;
        padding-top: 80px;
    }

    .attach {
        margin-top: -22px;
    }

    #submbtn {
        width: 100%;
        margin-top: 32px;
    }

    #li4 {
        width: 100%;
    }
</style>

<div class="flex">
    <div>
        <form asp-action="AddStudentForm" asp-controller="Admin">
            <div class="flex">
                <div>
                    <ul>
                        <li>
                            <label asp-for="StudentId">Enter Student Id</label>
                        </li>
                        <li>
                            <label asp-for="Email">Enter Email</label>
                        </li>
                        <li>
                            <label asp-for="Password">Enter Password</label>
                        </li>
                        <li>
                            <label asp-for="ClassName">Choose Class</label>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            @Html.TextBoxFor(s => s.StudentId, new { autocomplete = "off", onchange = "getSelected()", id = "li1" })
                        </li>
                        <li>
                            @Html.TextBoxFor(s => s.Email, new { autocomplete = "off", onchange = "getSelected()", id = "li2" })
                        </li>
                        <li>
                            @Html.EditorFor(s => s.Password, new { id = "li3" })
                        </li>
                        <li>
                            @Html.DropDownListFor(cs => cs.ClassName, new SelectList(Model.Classes), " ", new { onchange = "getSelected()", id = "li4" })
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <input id="submbtn" type="submit" value="Add Student" class="btn btn-outline-dark" disabled />
            </div>
        </form>
    </div>
    <div class="or">
        <h3>Or</h3>
    </div>
    <div class="attach">
        <form asp-action="AddStudentXml" asp-controller="Admin" enctype="multipart/form-data">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <div class="example-1">
                <div class="form-group">
                    <label class="label">
                        <i class="material-icons">attach_file</i>
                        <span class="title">Choose File</span>
                        <input type="file" name="file" id="file" onchange="onLoaded()">
                    </label>
                </div>
            </div>
            <div>
                <input id="impdata" type="submit" value="Import Data" class="btn btn-outline-dark" disabled />
            </div>
        </form>
    </div>
</div>
<script defer type="text/javascript">
    function getSelected() {
        if ($('#li4 option:selected').text() == ' ' || $('#li1').val() == '' || $('#li2').val() == '' || $('#li3').val() == '') {
            $("#submbtn").prop("disabled", true);
        }
        else {
            $("#submbtn").prop("disabled", false);
        }
    }

    function onLoaded() {
        if ($('#file').val() == '') {
            $("#impdata").prop("disabled", true);
        }
        else {
            $("#impdata").prop("disabled", false);
        }
    }
</script>